<!--Footer-->
<footer class="page-footer center-on-small-only">

  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">

      <!--First column-->
      <div class="col-md-3 offset-md-1">
        <h6 class="title">© 2017 Homely Paws</h6>
        <!-- <p>Monash University <br> FIT5120 Industry Experience Project</p> -->
      </div>
      <!--/.First column-->

      <hr class="hidden-md-up">

      <!--Second column-->
      <div class="col-md-2 offset-md-2">
        <!-- <h5 class="title">Our Website</h5> -->
        <ul>
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about-us">About Us</a>
          </li>
          <li>
            <a href="#event">Event</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->

    </div>
  </div>
  <!--/.Footer Links-->
