<div class="container" id="service-map" *ngIf="isNearestServiceSelectedInMap && isFoodServiceInMapVisiable">
  <div class="divider-new">
    <h2 class="h2-responsive wow fadeInDown">Service on the Map</h2>
  </div>

  <section>
    <div id="map" class="z-depth-2 wow fadeInUp">
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" (markerClick)="clickedMarker()" [iconUrl]="'assets/img/marker/placeholder.png'">
          <agm-info-window [isOpen]="isOpen"><strong>Your Current Position</strong></agm-info-window>
        </agm-marker>
        <agm-marker [latitude]="nearestServiceInMap.latitude" [longitude]="nearestServiceInMap.longitude" (markerClick)="clickedMarker()">
          <agm-info-window><strong>{{ nearestServiceInMap.name }}</strong></agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </section>
</div>

<div class="container" id="service-map" *ngIf="areAllServicesSelectedInMap && isFoodServiceInMapVisiable">
  <div class="divider-new">
    <h2 class="h2-responsive wow fadeInDown">Service on the Map</h2>
  </div>

  <section>
    <div id="map" class="z-depth-2 wow fadeInUp">
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" (markerClick)="clickedMarker()" [iconUrl]="'assets/img/marker/placeholder.png'">
          <agm-info-window [isOpen]="isOpen"><strong>Your Current Position</strong></agm-info-window>
        </agm-marker>
        <agm-marker *ngFor="let service of allServicesInMap" [latitude]="service.latitude" [longitude]="service.longitude" (markerClick)="clickedMarker()">
          <agm-info-window><strong>{{ service.name }}</strong></agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </section>
</div>
