<div id="event" class="divider-new">
  <h2 class="h2-responsive wow fadeInDown">Events</h2>
</div>

<!--Section: Event-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-2">
          <!--Card-->
          <div class="card card-cascade wider">
            <!--Card Title-->
            <div class="card-header rgba-red-strong white-text z-depth-2">
              <h2 class="h4-responsive mt-1 mb-2 text-center">Melbourne Clinic for pets of homeless people</h2>
              <p class="text-center"><i class="fa fa-calendar"></i> Sunday every month, 2:00pm to 4:00pm</p>
            </div>
            <!--/.Card Title-->

            <!--Card content-->
            <div class="card-block text-center">
              <h4 class="card-title h4-responsive"><strong>Pets in the Park</strong></h4>
              <br>
              <p class="card-text h6-responsive">Plowman Place, Frankston Melbourne, VIC 3199, Australia</p>
              <br>
              <!-- <a class="btn btn-mdb" target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=Plowman Place+Frankston+VIC+3199+Australia&travelmode=Transit">Go There</a> -->
              <a class="btn btn-mdb" target="_blank" href="http://www.frankston.net/pitp.html">More Info</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-2">
          <!--Card-->
          <div class="card card-cascade wider">
            <!--Card Title-->
            <div class="card-header rgba-orange-strong white-text z-depth-2">
              <h2 class="h4-responsive mt-1 mb-2 text-center">Mental Health Week</h2>
              <p class="text-center"><i class="fa fa-calendar"></i> Sun, 8th October, 2017 - Sat, 14th October, 2017</p>
            </div>
            <!--/.Card Title-->

            <!--Card content-->
            <div class="card-block text-center">
              <h4 class="card-title h4-responsive"><strong>Mental Health Foundation of Australia, Victoria</strong></h4>
              <p class="card-text h6-responsive">Federation square, 1 Flinders St Melbourne, VIC 3000, Australia </p>
              <br>
              <!-- <a class="btn btn-mdb" target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=Federation+square+1+Flinders St+Melbourne+VIC+3000">Go There</a> -->
              <a class="btn btn-mdb" target="_blank" href="http://www.mhfa.org.au/Events/MentalHealthWeek-8-14Oct2017">More Info</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-2">
          <!--Card-->
          <div class="card card-cascade wider">
            <!--Card Title-->
            <div class="card-header rgba-teal-strong white-text z-depth-2">
              <h2 class="h4-responsive mt-1 mb-2 text-center">Pro Bono Physio Clinic</h2>
              <p class="text-center"><i class="fa fa-calendar"></i> Every Thursday morning, 9:00am to 12:30pm</p>
            </div>
            <!--/.Card Title-->

            <!--Card content-->
            <div class="card-block text-center">
              <h4 class="card-title h4-responsive"><strong>SOS Health and Salvation Army</strong></h4>
              <p class="card-text h6-responsive">Salvation Army Melb Project 614 Level 1, 69 Bourke Street Melbourne, VIC 3000, Australia</p>
              <!-- <a class="btn btn-mdb" target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=Salvation+Army+Melb+614+69+Bourke+Street+Melbourne+VIC+3000">Go There</a> -->
              <a class="btn btn-mdb" target="_blank" href="http://soshealth.org.au/probono-physiotherapy-melbourne-clinic-up-and-running/">More Info</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>

      </div>
    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">
      <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-2">
          <!--Card-->
          <div class="card card-cascade wider">
            <!--Card Title-->
            <div class="card-header rgba-teal-strong white-text z-depth-2">
              <h2 class="h4-responsive mt-1 mb-2 text-center">Pro Bono Physio Clinic</h2>
              <p class="text-center"><i class="fa fa-calendar"></i> Every Thursday morning, 9:00am to 12:30pm</p>
            </div>
            <!--/.Card Title-->

            <!--Card content-->
            <div class="card-block text-center">
              <h4 class="card-title h4-responsive"><strong>SOS Health and Salvation Army</strong></h4>
              <p class="card-text h6-responsive">Salvation Army Melb Project 614 Level 1, 69 Bourke Street Melbourne, VIC 3000, Australia</p>
              <!-- <a class="btn btn-mdb" target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=Salvation+Army+Melb+614+69+Bourke+Street+Melbourne+VIC+3000">Go There</a> -->
              <a class="btn btn-mdb" target="_blank" href="http://soshealth.org.au/probono-physiotherapy-melbourne-clinic-up-and-running/">More Info</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-2">
          <!--Card-->
          <div class="card card-cascade wider">
            <!--Card Title-->
            <div class="card-header rgba-blue-strong white-text z-depth-2">
              <h2 class="h4-responsive mt-1 mb-2 text-center">The Big Give - Free Christmas Lunch</h2>
              <p class="text-center"><i class="fa fa-calendar"></i> Mon, 25th December, 2017</p>
            </div>
            <!--/.Card Title-->

            <!--Card content-->
            <div class="card-block text-center">
              <h4 class="card-title h4-responsive"><strong>St Mary's House of Welcome</strong></h4>
              <p class="card-text h6-responsive">201 Napier St, Fitzroy Melbourne, VIC 3065, Australia</p>
              <br>
              <!-- <a class="btn btn-mdb" target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=201+Napier+St+Fitzroy+VIC+3065">Go There</a> -->
              <a class="btn btn-mdb" target="_blank" href="http://www.smhow.org.au/news-events/the-big-give/">More Info</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-2">
          <!--Card-->
          <div class="card card-cascade wider">
            <!--Card Title-->
            <div class="card-header rgba-indigo-strong white-text z-depth-2">
              <h2 class="h4-responsive mt-1 mb-2 text-center">Bunnings Sausage Sizzle</h2>
              <br>
              <p class="text-center"><i class="fa fa-calendar"></i> Sun, 29th October, 2017, 10am – 4pm</p>
            </div>
            <!--/.Card Title-->

            <!--Card content-->
            <div class="card-block text-center">
              <h4 class="card-title h4-responsive"><strong>Pet of the Homeless</strong></h4>
              <br>
              <p class="card-text h6-responsive">600 Frankston - Dandenong Rd, Carrum Downs Melbourne, VIC 3201, Australia</p>
              <br>
              <!-- <a class="btn btn-mdb" target="_blank" href="https://maps.google.com?saddr=Current+Location&daddr=600+Frankston+Dandenong+Rd+Carrum+Downs+VIC+3201+Australia">Go There</a> -->
              <a class="btn btn-mdb" target="_blank" href="https://petsofthehomeless.org.au/calendar/">More Info</a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>

      </div>
    </div>
    <!--/.Second slide-->

  </div>
  <!--/.Slides-->
</div>
<!--/Section: Event-->
