<div id="our-team" class="divider-new">
  <h2 class="h2-responsive wow fadeInDown">Team Supernova</h2>
</div>

<!--Section: Team-->
<section class="section team-section pb-4">

  <!--Grid row-->
  <div class="row mb-lg-4 center-on-small-only">

    <!--Grid column-->
    <div class="col-lg-6 col-md-6 mb-r">

      <div class="col-md-6 float-left">
        <div class="avatar">
          <img src="assets/img/team/Joe.jpeg" class="z-depth-2" alt="Joe">
        </div>
      </div>

      <div class="col-md-6 float-right">
        <h4><strong>Joe</strong></h4>
        <h6 class="font-bold grey-text mb-4">Web Developer</h6>
        <p class="grey-text">Specialization: Distributed Programming, Data Analysis and Processing, Web Development</p>

        <!--Facebook-->
        <a class="icons-sm fb-ic" href="https://www.facebook.com/joexfactor"><i class="fa fa-facebook"></i></a>
        <!--Instagram-->
        <a class="icons-sm ins-ic" href="https://www.instagram.com/joexfactor/"><i class="fa fa-instagram"> </i></a>
        <!--GitHub-->
        <a class="icons-sm git-ic" href="https://github.com/joexfactor"><i class="fa fa-github"> </i></a>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-6 col-md-6 mb-r">

      <div class="col-md-6 float-left">
        <div class="avatar">
          <img src="assets/img/team/Ryan.jpeg" class="z-depth-2" alt="Ryan">
        </div>
      </div>

      <div class="col-md-6 float-right">
        <h4><strong>Ryan</strong></h4>
        <h6 class="font-bold grey-text mb-4">Video Maker</h6>
        <p class="grey-text">Specialization: Data analysis, Writing Reports, Project Management, Video Clip</p>

        <!--Facebook-->
        <a class="icons-sm fb-ic" href="https://www.facebook.com/shice.ruan.3"><i class="fa fa-facebook"> </i></a>
        <!--Twitter-->
        <a class="icons-sm tw-ic" href="https://mobile.twitter.com/285718912"><i class="fa fa-twitter"> </i></a>
        <!--Instagram-->
        <a class="icons-sm ins-ic" href="https://www.instagram.com/ryanruan1221/"><i class="fa fa-instagram"> </i></a>
      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row center-on-small-only">

    <!--Grid column-->
    <div class="col-lg-6 col-md-6 mb-r">

      <div class="col-md-6 float-left">
        <div class="avatar">
          <img src="assets/img/team/Nishit.jpeg" class="z-depth-2" alt="Nishit">
        </div>
      </div>

      <div class="col-md-6 float-right">
        <h4><strong>Nishit</strong></h4>
        <h6 class="font-bold grey-text mb-4">System Analyst</h6>
        <p class="grey-text">Specialization: Data Analysis, Data Visualization, Business Analysis, Project Management, People Skill
        </p>

        <!--Facebook-->
        <a class="icons-sm fb-ic" href="https://www.facebook.com/nishitrastogi92"><i class="fa fa-facebook"> </i></a>
        <!--LinkedIn-->
        <a class="icons-sm li-ic" href="https://www.linkedin.com/in/nishit-rastogi-a5485444/"><i class="fa fa-linkedin"> </i></a>
        <!--Instagram-->
        <a class="icons-sm ins-ic" href="https://www.instagram.com/nishit.rastogi/"><i class="fa fa-instagram"> </i></a>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-6 col-md-6 mb-r">
      <div class="col-md-6 float-left">
        <div class="avatar">
          <img src="assets/img/team/Sonali.jpeg" class="z-depth-2" alt="Fifth sample avatar image">
        </div>
      </div>

      <div class="col-md-6 float-right">
        <h4><strong>Sonali</strong></h4>
        <h6 class="font-bold grey-text mb-4">Business Analyst</h6>
        <p class="grey-text">Specialization: Project Management, System Analysis and Design, People Communication</p>

        <!--Google +-->
        <a class="icons-sm gplus-ic" href="https://plus.google.com/u/0/113338762795814817920"><i class="fa fa-google-plus"> </i></a>
        <!--LinkedIn-->
        <a class="icons-sm li-ic" href="https://www.linkedin.com/in/sonali-chaudhary-86a720a0/"><i class="fa fa-linkedin"> </i></a>
        <!--Facebook-->
        <a class="icons-sm fb-ic" href="https://www.facebook.com/sonali.chaudhary.35"><i class="fa fa-facebook"> </i></a>
      </div>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</section>
<!--Section: Team-->
